<div class="text-center pt-1">
  <h2 class="font-weight-bold pt-4 pb-4"><span class="text-muted">Verification > </span>Fill in personal information</h2>
</div>

<div class="d-flex justify-content-center box-shadow">
  <div class="steps d-flex justify-content-between pb-2 px-5 mb-2">
    <div class="col-4 step-col first">
      <div class="step text-muted completed"></div>
      <small>Email</small>
    </div>
    <div class="col-4 step-col">
      <div class="step text-muted completed"></div>
      <small>Phone</small>
    </div>
    <div class="col-4 step-col last">
      <div class="step text-muted current"></div>
      <small>Document</small>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center px-5 py-4">
  <%= render 'form', profile: @profile %>
</div>

