dist: trusty

sudo: required

language: ruby

cache:
  - bundler
  - yarn

env:
  - RAILS_ENV=test
    RAKE_ENV=test
    COVERAGE=true
    DISPLAY=:0.0
    BOT_USERNAME=kite-bot
    BOT_NAME="Kite Bot"
    BOT_EMAIL=kite-bot@heliostech.fr

services:
  - mysql

addons:
  chrome: stable

# Execute all of the commands which need to be executed before installing dependencies.
before_install:
  - gem install bundler
  - . $HOME/.nvm/nvm.sh
  - nvm install 8
  - nvm use 8
  - npm i -g yarn

# Execute all of the commands which should install application dependencies.
install:
  - bundle install --deployment --without production development --jobs=$(nproc) --retry=3

# Execute all of the commands which need to be executed before running actual tests.
before_script:
  - ./bin/init_config
  - ./bin/install_plugins
  - bundle exec rake yarn:install db:create db:migrate

# Execute all of the commands which should make the build pass or fail.
script:
  - xvfb-run --auto-servernum --server-args="-screen 0 1280x800x16" bundle exec rspec

# Execute all of the commands which need to be executed after the build passed.
after_success: ruby ci/bump.rb
