dist: trusty

sudo: required

language: ruby

cache:
  - bundler

env:
  - RAILS_ENV=test
    RAKE_ENV=test
    COVERAGE=true
    BOT_USERNAME=kite-bot
    BOT_NAME="Kite Bot"
    BOT_EMAIL=kite-bot@heliostech.fr

services:
  - mysql
  - rabbitmq
  - docker
  - docker-compose

# Execute all of the commands which need to be executed before installing dependencies.
before_install:
  - gem install bundler

# Execute all of the commands which should install application dependencies.
install:
  - docker-compose -f config/backend.yml up -d vault
  - bundle install --without production development --jobs=$(nproc) --retry=3

# Execute all of the commands which need to be executed before running actual tests.
before_script:
  - ./bin/init_config
  - ./bin/install_plugins
  - bundle exec rake db:create db:migrate
  - bin/init_vault

# Execute all of the commands which should make the build pass or fail.
script:
  - bundle exec rspec

# Execute all of the commands which need to be executed after the build passed.
# after_success: ruby ci/bump.rb
