 <div class="row justify-content-center">
   <div class="col-xs-12 col-sm-10 col-md-7 col-lg-6 col-xl-5 mt-5 mb-5">
     <% if account_signed_in? %>
         <% if !current_account.otp_required_for_login %>
             <%= button_to 'Enable 2FA', enable_otp_accounts_path, method: :post, class: 'btn btn-success btn-block' %>
         <% end %>
         <% if current_account.otp_required_for_login %>
             <%= button_to 'Disable 2FA', disable_otp_accounts_path, method: :post, class: 'btn btn-danger btn-block' %>
             <input type="button" value="QRCode" id="qr-code-btn" class="btn btn-success btn-block mb-2">
         <% end %>
     <% end %>
   </div>

   <% if current_account.otp_required_for_login %>
       <div class="qr-code" hidden>
         <%= raw generate_qr_code %>
       </div>
   <% end %>
 </div>