<li class="list-group-item">
  <b> Document: </b>
  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= @document_label_value %>
    </a>
    <div class="dropdown-menu">
      <% Document::STATES.each do |state|%>
        <%=
          unless @document_label_value == state
            link_to(state.upcase_first,
                    document_label_admin_profile_path(@account.profile, state: state), method: :put,
                                                                                       class: 'dropdown-item')
          end
        %>
     <% end %>
    </div>
  </div>
</li>
