<div class="container">
  <h1>Editing Website</h1>

  <%= render 'form', website: @website %>

  <div class="actions col-sm-offset-2 col-sm-10">
    <%= link_to 'Show', admin_website_path(@website), class: 'btn btn-info' %>
  </div>
  <br>
</div>