<div class="container">
  <h1>Editing Website</h1>

  <%= render 'form', website: @website %>

  <%= link_to 'Show', admin_website_path(@website) %> |
  <%= link_to 'Back', admin_websites_path %>
</div>
