<div class="container">
  <%= link_to "Add phone number", new_phone_path, class: "btn btn-primary form-group" %>
  <table class="table table-bordered table-sm text-center">
      <thead>
       <tr>
         <th>Country</th>
         <th>Phone number</th>
       </tr>
      </thead>
      <tbody>
        <% @phones.each do |phone| %>
          <tr>
            <td><%= phone.country %></td>
            <td><%= phone.number %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
