<div class="row">
  <div class="col-md-5 real-name">
    <h1 class="text-center">Real-name Authentication</h1>
  </div>
  <div class="col-md-7 state">
    <h1 class="text-center"> State Unverified</h1>
    <%= render partial: 'form' %>
  </div>
