<div class="row">
  <div class="col-md-4 real-name">
    <h1 class="text-center">Real-name</h1>
  </div>
  <div class="col-md-8 state">
    <h1 class="text-center"> State Unverified</h1>
    <%= render partial: 'form' %>
  </div>
