<div class="row">
  <div class="col-sm-4 col-sm-offset-4">

    <h1 class="text-center"> Account</h1>
    <hr>
      <div class="form-group">
        <h4><b>Real Name:</b><%= @account.real_name %> </h4>

      </div>
      <div class="form-group">
        <h4><b>Address: </b><%= @account.address %></h4>

      </div>
      <div class="form-group">
        <h4> Doc Photo</h4><%= image_tag @account.doc_photo.url %>
      </div>
      <div class="form-group">
        <h4> Residence Photo</h4><%= image_tag @account.residence_photo.url %>
      </div>
      <div class="form-group">
        <%#= link_to "Edit", edit_blog_path(@blog), class: "btn btn-primary btn-block btn-sm" %>
      </div>
  </div>
</div>
