// ===================================
// DEFAULT VARIABLES
// ===================================

// Bootstrap
// https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss
// -----------------------------------

// colors
$success: #5ca50d !default;
$primary: #F47421 !default;
$warning: #FAC718 !default;

// border radius
$border-radius: 0 !default;
$border-radius-lg: 0 !default;
$border-radius-sm: 0 !default;

// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
$main-font: 'Open Sans', arial, sans-serif;

$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-base: 0.9rem !default;
$headings-font-family: $main-font !default;
$headings-font-weight: 300 !default;

// buttons + forms
$input-btn-padding-y: .7rem !default;
$input-focus-box-shadow: none;


// Devise
// -----------------------------------

$devise-background-image: "background.jpg" !default;
$devise-form-color: #FAC718;

