.dropzone {
  margin-top: 32px;
  width: 100%;
  border: 2px dashed #ddd !important;
  color: #444;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;

  &.inactive {
    &::before {
      content: "+";
      height: 36px;
      width: 36px;
      line-height: 34px;
      font-size: 36px;
      color: #ddd;
      font-weight: 100;
      text-align: center;
      border: 2px solid #ddd;
      border-radius: 100px;
      display: block;
      margin: 28px auto;
    }
  }
}