// -----------------------------------------
// Underlined form controls
// -----------------------------------------

.form-control.underlined {

  border-radius: 0;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid $divider;

  .has-error &:focus, .has-warning &:focus, .has-success &:focus, &:focus {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid $primary;
  }

  .has-error & {
    box-shadow: none;
    border-color: $danger;
  }

  .has-warning & {
    box-shadow: none;
    border-color: $warning;
  }

  .has-success & {
    box-shadow: none;
    border-color: $success;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
