// -----------------------------------------
// Underlined form controls
// -----------------------------------------

.form-control.underlined {

  border-radius: 0;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid $divider;
  padding-left: 0;

  .has-error &:focus, .has-warning &:focus, .has-success &:focus, &:focus {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid $primary;
  }

  .has-error & {
    box-shadow: none;
    border-color: $danger;
  }

  .has-warning & {
    box-shadow: none;
    border-color: $warning;
  }

  .has-success & {
    box-shadow: none;
    border-color: $success;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ddd;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #ddd;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #ddd;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #ddd;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[name=otp] {
  font-weight: bold;
  letter-spacing: .8em;
}

.down-arrow {
  position: relative;
  &::after {
    content: "\E802";
    font-family: fontello;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 0;
    font-size: 20px;
    color: #444;
  }
}

// -----------------------------------------
// Custom file upload input
// -----------------------------------------

// hidding the basic field
.custom-file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

// Styling the label
.custom-file-input + label {
  margin-top: 32px;
  width: 100%;
  border: 2px dashed #ddd;
  color: #444;
  font-size: 16px;
  text-align: center;
  &::before {
    content: "+";
    height: 36px;
    width: 36px;
    line-height: 34px;
    font-size: 36px;
    color: #ddd;
    font-weight: 100;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 100px;
    display: block;
    margin: 28px auto;
  }
  &::after {
    content: "";
    display: block;
    color: #ddd;
    margin-bottom: 20px;
  }
}

.custom-file-input:focus + label,
.custom-file-input + label:hover {
    border-color: #aaa;
    &::before {
      border-color: #aaa;
      color: #aaa;
    }
}

.custom-file-input + label {
  cursor: pointer; /* "hand" cursor */
}

// keyboard navigation
.custom-file-input:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

// touch
.custom-file-input + label * {
  pointer-events: none;
}

// loader

$off-primary: rgba($primary, 0.2);

.loader {
    display: none;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    border: .25rem solid $off-primary;
    border-top-color: $primary;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
