.steps {
  position: relative;
  width: 100%;
  &::before {
    content: "";
    border-top: 2px solid $divider;
    width: 70%;
    position: absolute;
    top: 12px;
    left: 15%;
  }
  .step {
    width: 24px;
    height: 24px;
    margin: 0 auto 5px;
    border: 2px solid $divider;
    background: white;
    border-radius: 100%;
    &.completed::before, &.current::before {
      font-family: fontello;
      text-align: center;
      display: block;
      line-height: 21px;
      font-size: 85%;
    }
    &.completed {
      background: white;
      border-color: $primary;
      &::before {
        color: $primary;
        content: "\e800";
      }
    }
    &.current {
      background: $primary;
      border-color: transparent;
      box-shadow: 0 4px 10px rgba($divider, .9);
      &::before {
        color: $primary;
        content: "\F192";
      }
    }
  }
  .step-col {
    text-align: center;
    &.first {
      text-align: left;
      .step {
        margin-left: 0;
        padding-left: 0;
      }
    }
    &.last {
      text-align: right;
      .step {
        margin-right: 0;
        padding-right: 0;
      }
    }
  }
}
.send_code {
  border-bottom: 1px solid $divider;
  padding: $input-padding-x $input-padding-y;
  margin-top: -2px;
  text-align: right;
}