<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>New Document</h1>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <%= link_to 'Edit Profile', edit_profile_path(current_account.profile.id) %>
    </div>
  </div>

  <%= render 'form', document: @document %>

</div><br/>
