default: &default
  adapter:  mysql2
  encoding: utf8
  pool:     <%= ENV.fetch('RAILS_MAX_THREADS', 5) %>
  username: <%= ENV['DATABASE_USER'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>

development:
  <<: *default
  database: barong_development

test:
  <<: *default
  database: barong_test

production:
  <<: *default
  database: barong_production
