#
# email and level are required for users
#
# permissions defines user roles and abilities
users:
  - email: <%= ENV.fetch("ADMIN_EMAIL", "admin@barong.io") %>
    password: <%= ENV.fetch("ADMIN_PASSWORD", nil) %>
    role: "admin"
    state: "active"
    level: 1

levels:
  - key: email
    value: verified
    description: "User clicked on the confirmation link"
  - key: phone
    value: verified
    description: "User entered a valid code from sms"
  - key: document
    value: verified
    description: "User personal documents have been verified"

permissions:
# SUPER ADMIN has an access to the whole system without any limits
# so we can just grant him access to /api/v2/*
 - { role: superadmin, verb: all, path: api/v2, action: accept }
 # superadmin has a full access to the peatio admin api
 - { role: superadmin, verb: all, path: admin, action: accept }
 - { role: superadmin, verb: get, path: assets, action: accept }
 # ranger access
 - { role: superadmin, verb: get, path: api/v2/ranger, action: accept }
 # we are watching after you 0_0
 - { role: superadmin, verb: post, path: admin, action: audit }
 - { role: superadmin, verb: put, path: admin, action: audit }
 - { role: superadmin, verb: delete, path: admin, action: audit }
 - { role: superadmin, verb: post, path: api/v2/, action: audit }
 - { role: superadmin, verb: put, path: api/v2/, action: audit }
 - { role: superadmin, verb: delete, path: api/v2/, action: audit }

# ADMIN
# admin has nearly full access to barong and peatio api, except managing permissions
 - { role: admin, verb: all, path: api/v2, action: accept }
 # admin has a full access to the peatio admin api
 - { role: admin, verb: all, path: admin, action: accept }
 - { role: admin, verb: get, path: assets, action: accept }
 # ranger access
 - { role: admin, verb: get, path: api/v2/ranger, action: accept }
 # admin doesnt have access to manage platform roles and permissions
 - { role: admin, verb: all, path: api/v2/barong/admin/permissions, action: drop }
 # admin doesnt have access to manage roles
 - { role: admin, verb: all, path: api/v2/barong/admin/users/role, action: drop }
 # admin doesnt have access to admin activities
 - { role: admin, verb: all, path: api/v2/barong/admin/activities/admin, action: drop }
 # we are watching after you 0_0
 - { role: admin, verb: post, path: admin, action: audit }
 - { role: admin, verb: put, path: admin, action: audit }
 - { role: admin, verb: delete, path: admin, action: audit }
 - { role: admin, verb: post, path: api/v2/, action: audit }
 - { role: admin, verb: put, path: api/v2/, action: audit }
 - { role: admin, verb: delete, path: api/v2/, action: audit }

# ACCOUNTANT
 # accountant has a read access to the peatio admin api
 - { role: accountant, verb: get, path: admin, action: accept }
 - { role: accountant, verb: get, path: admin/deposits, action: accept }
 - { role: accountant, verb: get, path: admin/withdraws, action: accept }
 - { role: accountant, verb: get, path: admin/members, action: accept }
 - { role: accountant, verb: get, path: admin/operations, action: accept }
 - { role: accountant, verb: get, path: admin/balance_sheet, action: accept }
 - { role: accountant, verb: get, path: admin/income_statement, action: accept }
 - { role: accountant, verb: get, path: assets, action: accept }
 # accountant can create fiat deposit from peatio admin api but not approve/reject them
 # Warning! have to be modified for each fiat available
 - { role: accountant, verb: get, path: admin/deposits/usd, action: accept }
 - { role: accountant, verb: post, path: admin/deposits/usd, action: accept }
 - { role: accountant, verb: get, path: admin/deposits/fth, action: accept }
 - { role: accountant, verb: post, path: admin/deposits/fth, action: accept }
 # accountant has a read access to barong admin
 - { role: accountant, verb: get, path: api/v2/barong/admin, action: accept }
 # has an ability to ban user
 # Warning! PUT call working but only GET/DELETE/POST will be audited correctly, **/update is a temporary solution
 - { role: accountant, verb: put, path: api/v2/barong/admin/users, action: accept }
 - { role: accountant, verb: put, path: api/v2/barong/admin/users/labels, action: drop }
 - { role: accountant, verb: post, path: api/v2/barong/admin/users/update, action: accept }
 - { role: accountant, verb: post, path: api/v2/barong/admin/users/labels/update, action: drop }
 # accountant doesnt have access to manage platform roles and permissions
 - { role: accountant, verb: all, path: api/v2/barong/admin/users/role, action: drop }
 - { role: accountant, verb: all, path: api/v2/barong/admin/permissions, action: drop }
 # accountant doesnt have access to admin activities
 - { role: accountant, verb: all, path: api/v2/barong/admin/activities/admin, action: drop }
 # we are watching after you 0_0
 - { role: accountant, verb: post, path: admin, action: audit }
 - { role: accountant, verb: put, path: admin, action: audit }
 - { role: accountant, verb: delete, path: admin, action: audit }
 - { role: accountant, verb: post, path: api/v2/, action: audit }
 - { role: accountant, verb: put, path: api/v2/, action: audit }
 - { role: accountant, verb: delete, path: api/v2/, action: audit }
 # has standard user permissions to ACCOUNT, MARKET, RESOURCE modules
 - { role: accountant, verb: all, path: api/v2/peatio/account, action: accept }
 - { role: accountant, verb: all, path: api/v2/peatio/market, action: accept }
 - { role: accountant, verb: all, path: api/v2/barong/resource, action: accept }
 # ranger access
 - { role: accountant, verb: get, path: api/v2/ranger, action: accept }
 # applogic access
 - { role: accountant, verb: all, path: api/v2/applogic, action: accept }

# COMPLIANCE
 # has an access to CRUD of user-related resources
 - { role: compliance, verb: get, path: api/v2/barong/admin/metrics, action: accept }
 - { role: compliance, verb: post, path: api/v2/barong/admin/users, action: accept }
 - { role: compliance, verb: put, path: api/v2/barong/admin/users, action: accept }
 - { role: compliance, verb: get, path: api/v2/barong/admin/users, action: accept }
 - { role: compliance, verb: delete, path: api/v2/barong/admin/users, action: accept }
 - { role: compliance, verb: get, path: api/v2/barong/admin/activities, action: accept }
 # compliance doesnt have access to change users roles
 - { role: compliance, verb: all, path: api/v2/barong/admin/users/role, action: drop }
 # compliance doesnt have access to admin activities
 - { role: compliance, verb: all, path: api/v2/barong/admin/activities/admin, action: drop }
 # compliance doesnt have access to manage platform roles and permissions
 - { role: compliance, verb: all, path: api/v2/barong/admin/permissions, action: drop }
 # has read-only access to peatio admin api
 - { role: compliance, verb: get, path: admin/deposits, action: accept }
 - { role: compliance, verb: get, path: admin/withdraws, action: accept }
 - { role: compliance, verb: get, path: admin/members, action: accept }
 - { role: compliance, verb: get, path: admin/operations, action: accept }
 - { role: compliance, verb: get, path: admin/balance_sheet, action: accept }
 - { role: compliance, verb: get, path: admin/income_statement, action: accept }
 - { role: compliance, verb: get, path: admin, action: accept }
 - { role: compliance, verb: get, path: assets, action: accept }
 # we are watching after you 0_0
 - { role: compliance, verb: post, path: admin, action: audit }
 - { role: compliance, verb: put, path: admin, action: audit }
 - { role: compliance, verb: delete, path: admin, action: audit }
 - { role: compliance, verb: post, path: api/v2/, action: audit }
 - { role: compliance, verb: put, path: api/v2/, action: audit }
 - { role: compliance, verb: delete, path: api/v2/, action: audit }
 # has standard user permissions to ACCOUNT, MARKET, RESOURCE modules
 - { role: compliance, verb: all, path: api/v2/peatio/account, action: accept }
 - { role: compliance, verb: all, path: api/v2/peatio/market, action: accept }
 - { role: compliance, verb: all, path: api/v2/barong/resource, action: accept }
 # ranger access
 - { role: compliance, verb: get, path: api/v2/ranger, action: accept }
 # applogic access
 - { role: compliance, verb: all, path: api/v2/applogic, action: accept }

# TECHNICAL
 # has an access to CRUD of peatio admin functionality on market, blockchain, wallets, currencies
 - { role: technical, verb: get, path: assets, action: accept }
 - { role: technical, verb: get, path: admin, action: accept }
 - { role: technical, verb: all, path: admin/wallets, action: accept }
 - { role: technical, verb: all, path: admin/markets, action: accept }
 - { role: technical, verb: all, path: admin/blockchains, action: accept }
 - { role: technical, verb: all, path: admin/currencies, action: accept }
 # technical has a read access to barong admin
 - { role: technical, verb: get, path: api/v2/barong/admin, action: accept }
 # technical doesnt have access to admin activities
 - { role: compliance, verb: all, path: api/v2/barong/admin/activities/admin, action: drop }
 # technical doesnt have access to manage platform roles and permissions
 - { role: technical, verb: all, path: api/v2/barong/admin/permissions, action: drop }
 # we are watching after you 0_0
 - { role: technical, verb: post, path: admin, action: audit }
 - { role: technical, verb: put, path: admin, action: audit }
 - { role: technical, verb: delete, path: admin, action: audit }
 - { role: technical, verb: post, path: api/v2/, action: audit }
 - { role: technical, verb: put, path: api/v2/, action: audit }
 - { role: technical, verb: delete, path: api/v2/, action: audit }
 # has standard user permissions to ACCOUNT, MARKET, RESOURCE modules
 - { role: technical, verb: all, path: api/v2/peatio/account, action: accept }
 - { role: technical, verb: all, path: api/v2/peatio/market, action: accept }
 - { role: technical, verb: all, path: api/v2/barong/resource, action: accept }
 # ranger access
 - { role: technical, verb: get, path: api/v2/ranger, action: accept }
 # applogic access
 - { role: technical, verb: all, path: api/v2/applogic, action: accept }

# SUPPORT
 # has read only access to several statistic and user-related endpoints
 - { role: support, verb: get, path: api/v2/barong/admin/metrics, action: accept }
 - { role: support, verb: get, path: admin/deposits, action: accept }
 - { role: support, verb: get, path: admin/withdraws, action: accept }
 - { role: support, verb: get, path: admin/members, action: accept }
 - { role: support, verb: get, path: admin/operations, action: accept }
 - { role: support, verb: get, path: api/v2/barong/admin/users, action: accept }
 - { role: support, verb: get, path: api/v2/barong/admin/activities, action: accept }
 - { role: support, verb: get, path: admin/balance_sheet, action: accept }
 - { role: support, verb: get, path: admin/income_statement, action: accept }
 - { role: support, verb: get, path: assets, action: accept }
 - { role: support, verb: get, path: admin, action: accept }
 # support doesnt have access to admin activities
 - { role: support, verb: all, path: api/v2/barong/admin/activities/admin, action: drop }
 # support doesnt have access to manage platform roles and permissions
 - { role: support, verb: all, path: api/v2/barong/admin/permissions, action: drop }
 # we are watching after you 0_0
 - { role: support, verb: post, path: admin, action: audit }
 - { role: support, verb: put, path: admin, action: audit }
 - { role: support, verb: delete, path: admin, action: audit }
 - { role: support, verb: post, path: api/v2/, action: audit }
 - { role: support, verb: put, path: api/v2/, action: audit }
 - { role: support, verb: delete, path: api/v2/, action: audit }
 # has standard user permissions to ACCOUNT, MARKET, RESOURCE modules
 - { role: support, verb: all, path: api/v2/peatio/account, action: accept }
 - { role: support, verb: all, path: api/v2/peatio/market, action: accept }
 - { role: support, verb: all, path: api/v2/barong/resource, action: accept }
 # ranger access
 - { role: technical, verb: get, path: api/v2/ranger, action: accept }
 # applogic access
 - { role: support, verb: all, path: api/v2/applogic, action: accept }

# TRADER
 # has standard user permissions to ACCOUNT, MARKET, RESOURCE modules
 - { role: trader, verb: all, path: api/v2/peatio/account, action: accept }
 - { role: trader, verb: all, path: api/v2/peatio/market, action: accept }
 - { role: trader, verb: all, path: api/v2/barong/resource, action: accept }
 # ranger access
 - { role: trader, verb: get, path: api/v2/ranger, action: accept }
 #applogic access
 - { role: trader, verb: all, path: api/v2/applogic, action: accept }

 # MEMBER
 # has standard user permissions to ACCOUNT, MARKET, RESOURCE modules
 - { role: member, verb: all, path: api/v2/peatio/account, action: accept }
 - { role: member, verb: all, path: api/v2/peatio/market, action: accept }
 - { role: member, verb: all, path: api/v2/barong/resource, action: accept }
 # ranger access
 - { role: member, verb: get, path: api/v2/ranger, action: accept }
 # applogic access
 - { role: member, verb: all, path: api/v2/applogic, action: accept }

 # BROKER
 # has standard user permissions to ACCOUNT, MARKET, RESOURCE modules
 - { role: broker, verb: all, path: api/v2/peatio/account, action: accept }
 - { role: broker, verb: all, path: api/v2/peatio/market, action: accept }
 - { role: broker, verb: all, path: api/v2/barong/resource, action: accept }
 # ranger access
 - { role: broker, verb: get, path: api/v2/ranger, action: accept }
 # applogic access
 - { role: broker, verb: all, path: api/v2/applogic, action: accept }

 # Manager
 # has standard user permissions to ACCOUNT, MARKET, RESOURCE modules
 - { role: manager, verb: all, path: api/v2/peatio/account, action: accept }
 - { role: manager, verb: all, path: api/v2/peatio/market, action: accept }
 - { role: manager, verb: all, path: api/v2/barong/resource, action: accept }
 # ranger access
 - { role: manager, verb: get, path: api/v2/ranger, action: accept }
 # applogic access
 - { role: manager, verb: all, path: api/v2/applogic, action: accept }

 # Partner
 # has standard user permissions to ACCOUNT, MARKET, RESOURCE modules
 - { role: partner, verb: all, path: api/v2/peatio/account, action: accept }
 - { role: partner, verb: all, path: api/v2/peatio/market, action: accept }
 - { role: partner, verb: all, path: api/v2/barong/resource, action: accept }
 # ranger access
 - { role: partner, verb: get, path: api/v2/ranger, action: accept }
 # applogic access
 - { role: partner, verb: all, path: api/v2/applogic, action: accept }
