<div class="row justify-content-center">
  <div class="container-fluid box-shadow mx-3">
    <div class="mb-3">
      <h2 class="title font-weight-bold">New Keypair</h2>
    </div>
  </div>

  <div class="container-fluid justify-content-center px-5 py-4">
    <%= render 'form', keypair: @keypair %>
  </div>
</div>