<div id="security-auth">
  <div class="row">
    <div class="col-12">
      <div class="top-section">
        <p>
          2Factor Challenge
        </p>
      </div>
    </div>
    <div class="col-6">
      <div class="left-section">
        <label>
          Security Code
        </label>
        <input placeholder="Input 6 digit code">
        <button class="btn btn-success"> Submit </button>
      </div>
    </div>
      <div class="right-section">
        <div class="col-6">
          <%= image_tag('security-authentication.png') %>
        </div>
      </div>
  </div>
</div>