 <div>
   <div class="p-2">
     <strong>Seed:</strong>
     <%= current_account.seed %>
   </div>

   <div class="justify-content-md-center">
     <div class="qr-code mw-4">
       <%= raw generate_qr_code %>
     </div>
   </div>
 </div>
