
<div class="main-block">
  <div class="logo">
    <%= image_tag attachments['logo.png'].url, alt: 'Campany Logo', class: 'logo-img' %>
  </div>
  <div class="content">
    <p class="title">Здравствуйте!</p>
    <p class="text">
      Используйте эту уникальную ссылку для сброса вашего пароля
    </p>
    <div class="reset-button">
      <a href="<%= @record.domain %>/accounts/password_reset?reset_token=<%= @record.token %>&lang=ru">Сбросить</a>
    </div>
  </div>
</div>
