<div class="main-block">
  <div class="logo">
    <%= image_tag attachments['logo.png'].url, alt: 'Campany Logo', class: 'logo-img' %>
  </div>
  <div class="content">
    <p class="title">Hello!</p>
    <p class="text">
      Use this unique link to reset your password for email <%= @user.email %>
    </p>
    <div class="reset-button">
      <a href="<%= @record.domain %>/accounts/password_reset?reset_token=<%= @record.token %>&lang=en">Reset</a>
    </div>
  </div>
</div>
