<p>Dear <%= @email %>!</p>

<p>Thank you for signing up with <%= app_name %>. To provide you the best
  service possible, we require you to verify your email address. If you are
  receiving this email and have never signed up with us, please feel free to
  ignore this email. To finish your verification, please follow the directions below.</p>

<p>Please click on the link below or copy and paste it into your browser to proceed with your registration.</p>

<p>Link to click <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Best regards, <br> <%= app_name %> Team</p>
