<p>Dear <%= @resource.email %></p>

<p>Thank you for using with <%= app_name %>.</p>

<p>Someone has requested a link to change your password and you can do this
  clicking on the below or copy and pasting it into your browser. If you did not request
  this password reset, please feel free to ignore this email. This link will expire in 24 hours.</p>

<p>Link: <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Best regards, <br> <%= app_name %> Team</p>
