<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<body>
  <div>
    <% if @profile.nil? %>
      <p> Hello! </p>
    <% else %>
      <p> Hello, <%= @profile.full_name %>!</p>
    <% end %>
    <p>Thank you for signing up with <%= @app_name %>!</p>
    <p>Unfortunatelly, your <%= @app_name %> account registration has been declined by our compliance department.</p>
  </div>
</body>
