<!DOCTYPE html>
<html>
  <head>
    <title>Barong</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
