<!DOCTYPE html>
<html>
  <head>
    <meta  http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Barong API</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'docs', media: 'all' %>
    <%= javascript_include_tag 'docs' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
